services:
    IntProg\EnhancedRelationListBundle\Core\FieldType\Type:
        parent: ezpublish.fieldType
        arguments:
            - '@IntProg\EnhancedRelationListBundle\Service\RelationAttributeRepository'
        tags:
            - {name: ezpublish.fieldType, alias: intprogenhancedrelationlist}

    IntProg\EnhancedRelationListBundle\Core\FieldType\SearchField:
        tags:
            - {name: ezpublish.fieldType.indexable, alias: intprogenhancedrelationlist}

    IntProg\EnhancedRelationListBundle\Core\FieldType\Converter:
        tags:
            - {name: ezpublish.storageEngine.legacy.converter, alias: intprogenhancedrelationlist}

    IntProg\EnhancedRelationListBundle\Core\FieldType\Mapper:
        arguments:
            - '@ezpublish.api.service.content_type'
        tags:
            - { name: ez.fieldFormMapper.definition, fieldType: intprogenhancedrelationlist }
            - { name: ez.fieldFormMapper.value, fieldType: intprogenhancedrelationlist }

    IntProg\EnhancedRelationListBundle\Core\FieldType\Storage:
        arguments:
            - '@ezpublish.spi.persistence.content_type_handler'
            - '@IntProg\EnhancedRelationListBundle\Service\RelationAttributeRepository'
            - '$languages$'
        tags:
            - { name: ezpublish.fieldType.externalStorageHandler, alias: intprogenhancedrelationlist }
