<a {% if not content.contentInfo.trashed %}
    href="{{ path('_ez_content_view', { 'contentId': contentId } ) }}"
        {% endif %}>
    {{ content.getName() }}
    {% if content.contentInfo.trashed %}
        <em>({{ 'content.in_trash'|trans(domain='content')|desc('In Trash') }})</em>
    {% endif %}
</a>
