
{%- block intprogenhancedrelationlist_definition_groups_widget -%}
    <div class="intprogenhancedrelationlist-definition-group-edit">
        <input type="hidden" class="relation-groups-json" name="{{ full_name }}" value="{{ value|escape }}">
        <div class="enhanced-relation-group-definition-list-react-container">
            <script data-value type="application/json">{{ value|json_encode|raw }}</script>
            <script data-languages type="application/json">{{ languageMap|json_encode|raw }}</script>
        </div>

        <div><table class="relation-root-table erl-table table drag-clone-container my-0"><tbody> </tbody></table></div>
    </div>
{%- endblock -%}
